@import '../../theme.scss';

.error-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--playkit-tone-3-color);
  .devider {
    align-self: flex-start;
    margin-left: 16px;
    margin-right: 8px;
    height: 1px;
    width: calc(100% - 24px);
    opacity: 0.4;
    background-color: #ffffff;
  }
  .icon-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    .error-icon {
      width: 100%;
      height: 100%;
      max-width: 184px;
      max-height: 184px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .error-main-text {
      font-size: 1.3em;
      margin-top: 8px;
      margin-bottom: 2px;
    }
    .error-description-text {
      margin: 0;
    }
    .retry-button {
      width: 88px;
      height: 32px;
      padding: 0;
      margin-top: 12px;
      background: inherit;
      color: #ffffff;
      border-radius: 18px;
      text-align: center;
      border: solid 2px rgba(255, 255, 255, 0.2);
      cursor: pointer;
    }
  }
}
