.autoscrollButton {
    width: 24px;
    height: 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #01819a;
    border-radius: 60px;
    border: none;
    padding-top: 4px;
    padding-left: 4px;
    cursor: pointer;
}
