@import '../../theme.scss';

.hidden {
  visibility: hidden;
}
.body {
  overflow: auto;
  height: 100%;
  @include plugin-scrollbar();
}

.root {
  display: flex;
  justify-content: center;
  padding: 16px 4px 16px 0px;
  color: #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  .global-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 599px;
    width: 100%;
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 6px;
      padding-left: 16px;
      font-size: 16px;
      .plugin-name {
        width: 100%;
        margin: 6px 0 0 0;
        font-size: 15px;
        line-height: 1.4;
        color: $tone-2;
        text-align: left;
      }
      .search-wrapper {
        width: 100%;
        &.small-width {
          padding-right: 44px;
        }
        &.medium-width {
          padding-right: 22px;
        }
      }
      .close-button {
        position: absolute;
        top: 0;
        right: 10px;
        width: 24px;
        height: 24px;
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }

  // TODO: remove once player fix the font
  * {
    font-family: sans-serif;
    font-style: normal;
  }
}
