/* TODO: (1) remove this once 3rd party cross-browser custom scroll bar is Added */
.body::-webkit-scrollbar {
  width: 4px;
}

/* Track TODO: as (1)*/
.body::-webkit-scrollbar-track {
  background: rgba(33, 33, 33, 0.9);
}

/* Handle TODO: as (1) */
.body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}

.hidden {
  visibility: hidden;
}

.root {
  display: flex;
  justify-content: center;
  padding: 8px 4px 8px 0px;
  color: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #000000a1;
  .global-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 599px;
    width: 100%;
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 6px;
      padding-left: 16px;
      font-size: 16px;
      .search-wrapper {
        &.small-width {
          padding-right: 44px;
        }
        &.medium-width {
          padding-right: 22px;
        }
      }
      .close-button {
        position: absolute;
        right: 0;
        width: 32px;
        height: 32px;
        min-width: 32px;
        margin: 0 8px;
        cursor: pointer;
        background-image: url("../../assets/images/close.svg");
        background-color: inherit;
        border: none;
        padding: 0;
      }
    }
  }
}
