/* TODO: (1) remove this once 3rd party cross-browser custom scroll bar is Added */
.body::-webkit-scrollbar {
  width: 4px;
}

/* Track TODO: as (1)*/
.body::-webkit-scrollbar-track {
  background: rgba(33, 33, 33, 0.9);
}

/* Handle TODO: as (1) */
.body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}

.hidden {
  visibility: hidden;
}
.body {
  overflow: auto;
  height: 100%;
}

.root {
  display: flex;
  justify-content: center;
  padding: 16px 4px 16px 0px;
  color: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  .global-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 599px;
    width: 100%;
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 6px;
      padding-left: 16px;
      font-size: 16px;
      .plugin-name {
        width: 100%;
        margin: 6px 0 0 0;
        font-size: 15px;
        line-height: 1.4;
        color: #cccccc;
        text-align: left;
      }
      .search-wrapper {
        width: 100%;
        &.small-width {
          padding-right: 44px;
        }
        &.medium-width {
          padding-right: 22px;
        }
      }
      .close-button {
        position: absolute;
        top: 16px;
        right: 0;
        width: 32px;
        height: 32px;
        min-width: 32px;
        margin: 0 8px;
        cursor: pointer;
        background-image: url("../../assets/images/close.svg");
        background-color: transparent;
        border: none;
        padding: 0;
      }
    }
    .skipButton {
      width: 24px;
      height: 24px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      background-color: #01819a;
      position: absolute;
      bottom: 14px;
      right: 16px;
      border-radius: 60px;
      border: none;
      padding-top: 4px;
      padding-left: 4px;
      cursor: pointer;
    }
  }
}
