.empty-state-wrapper {
  text-align: center;
  margin-top: 40%;
  margin-bottom: auto;
  .primary-text,
  .secondary-text {
    color: #999999;
  }
  .primary-text {
    margin-top: 12px;
    font-size: 18px;
    font-weight: bold;
  }
  .secondary-text {
    margin-top: 4px;
    font-size: 14px;
  }
}
