.filter-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 8px;
  padding-right: 10px;
  .tabs-wrapper {
    display: flex;
    height: 32px;
    width: 100%;
    .tab {
      display: flex;
      flex: 1 1 0px;
      justify-content: center;
      align-items: center;
      padding-bottom: 2px;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      color: white;
      border: none;
      cursor: pointer;
      &:hover {
        border-radius: 4px;
      }
      &:not(:hover) {
        background-color: transparent !important; // overwride inline styles
      }
      &.active {
        padding-bottom: 0;
        border-bottom: 2px solid;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
      }
      .label {
        margin-left: 5px;
        font-size: 13px;
        line-height: 1.15;
        color: #cccccc;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .total-results {
    margin-top: 8px;
    padding: 8px;
    text-align: left;
    font-size: 14px;
    line-height: 1.29;
    font-weight: bold;
    border-radius: 4px;
    background-color: rgba($color: #fff, $alpha: 0.16);
  }
}
