.navigationPluginButton,
.navigationPluginIcon {
  min-height: 36px;
  min-width: 36px;
}

.navigationPluginButton {
  padding: 0;
  border: none;
  background: none;
  border-radius: 4px;
  &.selected {
    background-color: rgba(0, 0, 0, 0.8);
    .navigationPluginIcon {
      background-image: url("../../../assets/images/search-icon-over.svg");
    }
  }
  &.disabled {
    opacity: 0.4;
  }
  &:hover:not(.disabled) {
    background-color: rgb(17, 50, 60);
  }
  .navigationPluginIcon {
    top: 2px;
    left: 2px;
    position: relative;
    background-image: url("../../../assets/images/search-icon.svg");
    opacity: 0.8;
  }
}
