.navigation-item {
  padding: 0;
  display: flex;
  align-items: flex-start;
  min-height: 28px;
  border-left: 2px solid transparent;

  &.selected {
    background: rgba(255, 255, 255, 0.15);
    border-left: 2px solid #01accd;
  }
  &.first,
  &.mid {
    box-shadow: 0px -1px 0px black inset;
  }

  &.first {
    margin-top: 4px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 0;
  }
  &.last {
    margin-top: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 2px;
  }
  &.single {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .time {
    margin-right: 4px;
  }
  &.mid,
  &.last {
    .metadata span {
      visibility: hidden;
    }
  }

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .content {
    position: relative;
    text-align: left;
    flex-grow: 1;
    font-size: 14px;
    margin-bottom: 4px;
  }
  .metadata {
    color: #cccccc;
    text-align: right;
    font-size: 12px;
    min-width: 64px;
    padding-right: 8px;
    padding-top: 6px;
  }

  .show-more-button {
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    background: none;
    border: none;
    color: #01accd;
    margin: 0;
    padding: 0;
  }
  .description {
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .thumbnail {
    display: block;
    max-width: 400px;
    width: 100%;
    border-radius: 4px;
    margin-top: 1px;
  }

  .hasImage .contentText {
    background: rgba(0, 0, 0, 0.65);
  }

  .contentText {
    padding: 4px 4px 10px 4px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
}
