.navigation-item {
  &.selected {
    background: rgba(255, 255, 255, 0.15);
    border-left: 2px solid #01accd;
  }

  display: flex;
  align-items: flex-start;
  min-height: 32px;
  border-left: 2px solid transparent;
  &.first {
    margin-top: 4px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 0;
  }
  &.last {
    margin-top: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 2px;
  }
  &.single {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .time {
    margin-right: 4px;
  }
  &.mid,
  &.last {
    .metadata span {
      visibility: hidden;
    }
  }

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .content-inner {
    width: 100%;
    position: relative;
  }
  .content {
    text-align: left;
    flex-grow: 1;
    padding: 0;
    font-size: 14px;
    position: relative;
  }
  .metadata {
    color: #cccccc;
    text-align: right;
    padding-top: 8px;
    font-size: 12px;
    min-width: 67px;
    padding-right: 8px;
  }
  .icon {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-left: 8px;
  }
  .show-more-button {
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    background: none;
    border: none;
    color: #01accd;
    padding: 0;
    margin-bottom: 6px;
  }
  .description {
    font-size: 12px;
    color: #cccccc;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .thumbnail {
    display: block;
    max-width: 400px;
    width: 100%;
    border-radius: 4px;
    margin-top: 1px;
  }
  .contentText {
    position: absolute;
    padding-left: 2px;
    padding-top: 6px;
    top: 0;
    left: 0;
    right: 0;
    min-height: 36px;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6) 50%
    );
  }
}
